<!-- container -->
<div class="container">
  <%= render "shared/header" %>

  <%= render "shared/nav" %>

  <div class="row page-bg" style="min-height: 830px;">
	  <article>
      <div class="content page-bg span12">
  	    <h1>Atividades</h1>
	  	  <%= image_tag "ig/atividades_001.jpg", :class => "img-left", :style => "width: 400px; height: 300px;"  %>
	      <p>
	      O Instituto Gabi não é clínica, escola ou centro profissionalizante. É um Centro de Referência da pessoa com
	      deficiência que desenvolve atendimentos nas áreas da saúde, educação (incluindo suporte pedagógico) cultura
	      e atendimento sócio familiar.
	      </p>
	      <p>
				Os atendidos permanecem quatro horas diárias, de segunda à sexta, divididos por faixa etária. No turmo da
				manhã o atendimento é voltado para crianças de 6 a 12 e na parte da trade de 12 anos em diante.
				</p>
				<ul>
				  <li><strong>Saúde:</strong> fisioterapia, fonoaudiologia, psicologia, terapia ocupacional, educação física adaptada.</li>
				  <li><strong>Educação:</strong> atividades de vida diária, contação de histórias, passeios, etc.</li>
				  <li><strong>Cultura:</strong> oficina de capoeira, dança e artes em geral.</li>
				  <li><strong>Família:</strong> visita domiciliar, plantão social, terapia grupal, oficina de geração de renda.</li>
				</ul>
				<p>
				Suporte Pedagógico: O profissional desta área coordena e acompanha as ações que envolvem o encaminhamento das crianças e adolescentes para a escola ou para outras unidades de atendimento.
				</p>
				<%= image_tag "ig/atividades_002.jpg", :class => "img-right", :style => "width: 400px; height: 300px;"  %>
				<h1>Projetos Especiais</h1>
				<p>
					Junto com o atendimento, o Instituto Gabi fornece orientações e realiza encaminhamentos para as famílias de seus atendidos e/ou daqueles que necessitam. Todas estas ações lhe conferem um pioneirismo na consolidação do Centro de Referência.
			  </p>
			  <p>
				Banco de dados que mantém um cadastro das famílias que procuram atendimento e os serviços públicos e outras organizações que trabalham com a mesma população.
				</p>
	    </div>
    </article>
  </div>

  <%= render "shared/footer" %>
</div>
<!-- container -->