<div class="row footer footer-bg">
  <div class="footer-wrapper">
    <div class="span2">
      <h4>Instituto Gabi</h4>
      <ul>
          <li><%= link_to "Quem Somos", instituto_gabi_path %></li>
          <li><%= link_to "Atividades", atividades_path %></li>
          <li><%= link_to "Como Ajudar", como_ajudar_path %></li>
          <li><%= link_to "Notícias", noticias_path %></li>
          <li>Fotos</li>
          <li>Contato</li>
      </ul>
    </div>
    <% unless @partner.nil? %>
    <div class="span4">
      <h4>Parceiros</h4>
      <div class="box-parceiro-small">
        <%= image_tag "../" + @partner.path_first_image %>
        <h4><%= @partner.name %></h4>
        <%= @partner.short_description.html_safe %>
      </div>
    </div>
    <% end %>
    <div class="span2">
      <h4>Twitter</h4>
      <div id="getTweets"></div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/pt_BR/all.js#xfbml=1&appId=120323441406882";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="span4">
      <fb:like-box href="https://www.facebook.com/InstitutoGabi" width="292" colorscheme="dark" show_faces="true" border_color="#1e5687" stream="false" header="false" logobar="0" css="/assests/static_pages.css"></fb:like-box>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js"></script>
<script type="text/javascript">
  getTwitters(
	            'getTweets',
	            {
	                id: 'institutogabi',
	                count: 1,
	                enableLinks: true,
	                ignoreReplies: true,
	                newwindow: true,
	                template: '<p>%text%</p>'
	            }
	);
</script>