<nav>
  <div class="row page-bg" style="height: 62px;">
    <div class="span12 menu">
      <ul>
        <li class="first"></li>
        <li class="instituto"><%= link_to "Instituto Gabi", instituto_gabi_path %></li>
        <li class="separator"></li>
        <li class="atividades"><%= link_to "Atividades", atividades_path %></li>
        <li class="separator"></li>
        <li class="ajudar"><%= link_to "Como Ajudar", como_ajudar_path %></li>
        <li class="separator"></li>
        <li class="noticias"><%= link_to "Notícias", noticias_path %></li>
        <li class="separator"></li>
        <li class="fotos"><%= link_to "Fotos", fotos_path %></li>
        <li class="separator"></li>
        <li class="contato"><a href="#">Contato</a></li>
        <li class="last-separator"></li>
        <li class="last"></li>
      </ul>
    </div>
  </div>
</nav>
